{% extends 'main_app/posts/post.html' %}
{% block manga %}
<div class="info">
    <div class="info-title bordering">Информация</div>
    <p>Тип: <span style="color: white;">Manga</span></p>
    <p>Дата выхода: <span style="color: white;">{{ post.release_date }}</span></p>
    <p>Жанры:
        {% for c in post.get_categories %}
            {% if c == post.get_categories|last %}
                <a href="{{ c.get_absolute_manga_url }}">{{ c.name }}</a>
            {% else %}
                <a href="{{ c.get_absolute_manga_url }}">{{ c.name }},</a>
            {% endif %}
        {% endfor %}
    </p>
</div>
<div class="third-plate">
    {% if post.get_true_rate > 0 %}
    <div class="rate">
        <div class="info-title bordering">Рейтинг</div>
        <h1>{{ post.get_true_rate }}</h1>
    </div>
    {% endif %}
</div>
{% include 'main_app/includes/add_to_list.html' %}
<div class="desc-block ">
    <div class="info-title bordering">ОПИСАНИЕ</div>
    {% if post.description != "" %}
        <p>{{ post.description }}</p>
    {% else %}
        <p>Нет описания.</p>
    {% endif %}
</div>
<div class="related">
    <div class="info-title bordering">Связанное</div>
    {% if post.get_projects %}
        {% for p in post.get_projects %}
        <div class="mini-card">
            <div class="mini-cover">
                <a href="{{ p.get_absolute_url }}"><img class="mini-cover" src="{{ p.cover.url }}"></a>
            </div>
            <div class="mini-info">
                <div class="mini-name">
                    <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                </div>
                <div class="line">
                    {% if p.type %}
                        <p>Тип: {{ p.type }}</p>
                    {% else %}
                        <p>Тип: Манга</p>
                    {% endif %}
                    <p>Жанры:
                        {% for c in p.get_categories %}
                            {% if c == p.get_categories|last %}
                                <a href="{{ c.get_absolute_anime_url }}">{{ c.name }}</a>
                            {% else %}
                                <a href="{{ c.get_absolute_anime_url }}">{{ c.name }},</a>
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        Нет связанных произведений
    {% endif %}
</div>
<div class="authors">
    <div class="info-title bordering">Автор</div>
    {% if post.get_authors %}
        <div class="mini-card">
            <div class="mini-cover">
                <a href="{{ post.author.get_absolute_url }}"><img class="mini-cover" src="{{post.author.photo.url}}"></a>
            </div>
            <div class="mini-info">
                <div class="mini-name">
                    <a href="{{ post.author.get_absolute_url }}">{{ post.author.name }}</a>
                </div>
                <div class="line">
                    Карьера:<a href="#"> {{ post.author.career.name }}</a>
                </div>
            </div>
        </div>
    {% else %}
        Автор неизвестен
    {% endif %}
</div>
<div class="characters">
    <div class="info-title bordering"><a href="#">Персонажи</a></div>
    <div class="character-list">
        {% for c in post.get_main_chars %}
        <figure>
            <a href="{{ c.get_absolute_url }}"><img src="{{ c.photo.url }}" class="mini-char-photo"></a>
            <figcaption><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></figcaption>
        </figure>
    {% endfor %}
    </div>
</div>
{% endblock manga %}