{% extends 'main_app/posts/post.html' %}
{% block character %}
{% if post.voice_actor %}
<div class="voice-actors">
    <div class="info-title bordering"><a href="#">Сэйю</a></div>
    <div class="character-list">
        <figure>
            <a href="{{ post.voice_actor.get_absolute_url }}"><img src="{{ post.voice_actor.photo.url }}" class="mini-char-photo"></a>
            <figcaption><a href="{{ post.voice_actor.get_absolute_url }}">{{ post.voice_actor.name }}</a></figcaption>
        </figure>
    </div>
</div>
{% endif %}
{% if post.career %}
<div class="info">
    <div class="info-title bordering">Информация</div>
    <p>Career:
        {% for career in post.career.all %}
            {% if career == post.career.all|last %}
                <span style="color: white;">{{ career.name }}</span></p>
            {% else %}
                <span style="color: white;">{{ career.name }},</span></p>
            {% endif %}
        {% endfor %}
</div>
{% endif %}
{% if post.description %}
<div class="desc-block ">
    <div class="info-title bordering">ОПИСАНИЕ</div>
    <p>{{post.description}}</p>
</div>
{% endif %}
<div class="related">
    <div class="info-title bordering">Проекты</div>
    {% for p in post.get_projects %}
    <div class="mini-card">      
        <div class="mini-cover">
            <a href="{{ p.get_absolute_url }}"><img class="mini-cover" src="{{ p.cover.url }}"></a>
        </div>
        <div class="mini-info">
            <div class="mini-name">
                <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
            </div>
            <div class="line">
                {% if p.type.id not in manga_types  %}
                    <p>Тип: {{ p.type }}</p>
                    <p>Жанры:
                        {% for c in p.get_categories %}
                            {% if c == p.get_categories|last %}
                                <a href="{{ c.get_absolute_anime_url }}">{{ c.name }}</a>
                            {% else %}
                                <a href="{{ c.get_absolute_anime_url }}">{{ c.name }},</a>
                            {% endif %}
                        {% endfor %}
                    </p>
                {% else %}
                    <p>Тип: {{ p.type }}</p>
                    <p>Жанры:
                        {% for c in p.get_categories %}
                            {% if c == p.get_categories|last %}
                                <a href="{{ c.get_absolute_manga_url }}">{{ c.name }}</a>
                            {% else %}
                                <a href="{{ c.get_absolute_manga_url }}">{{ c.name }},</a>
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                
            </div>
        </div>
    </div> 
    {% endfor %}
</div>
{% endblock character %}