{% extends 'main_app/posts/post.html' %}
{% block anime %}
<div class="info">
    <div class="info-title bordering">Информация</div>
    <p>Тип: <span class="contrast-color">{{ post.type }}</span></p>
    <p>Эпизоды: <span class="contrast-color">{{ post.episodes_now }}/{% if post.episodes_all > 0 %}{{ post.episodes_all }}{% else %}?
        {% endif %}
        эпизодов
    </span></p>
    {% if post.duration %}
        <p>Длительность:  <span class="contrast-color">{{ post.get_minutes }} минуты</span></p>
    {% endif %}
    <p>Статус: <span class="contrast-color">{{ post.get_status }}
        {% if post.get_status == "Release" and post.out_date %}
            in {{ post.out_date }}
        {% endif %}
    </span></p>
    <p>Жанры:
        {% for c in post.get_categories %}
            {% if c == post.get_categories|last %}
                <a href="{{ c.get_absolute_anime_url }}">{{ c.name }}</a>
            {% else %}
                <a href="{{ c.get_absolute_anime_url }}">{{ c.name }},</a>
            {% endif %}
        {% endfor %}
    </p>
</div>
<div class="third-plate">
    {% if post.rate > 0 %}
    <div class="rate">
        <div class="info-title bordering">Рейтинг</div>
        <h1>AnimeGo: {{ post.rate }}</h1>
        <h1>{{ post.get_true_rate }}</h1>
    </div>
    {% endif %}
    <div class="studio">
        <div class="info-title bordering">Студия</div>
        {% for studio in post.get_studios %}
            {% if studio.logo %}
                <a href="{{ studio.get_absolute_url }}"><img src="{{ studio.logo.url }}" width="140px"></a>
            {% else %}
                <a href="{{ studio.get_absolute_url }}">{{ studio.name }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% include 'main_app/includes/add_to_list.html' %}
<div class="desc-block ">
    <div class="info-title bordering">ОПИСАНИЕ</div>
    {% if post.description != "" %}
        <p>{{ post.description }}</p>
    {% else %}
        <p>Нет описания.</p>
    {% endif %}
</div>
<div class="related">
    <div class="info-title bordering">Связанное</div>
    {% if post.source %}
        <div class="mini-card">
            <div class="mini-cover">
                <a href="{{ post.source.get_absolute_url }}"><img class="mini-cover" src="{{ post.source.cover.url }}"></a>
            </div>
            <div class="mini-info">
                <div class="mini-name">
                    <a href="{{ post.source.get_absolute_url }}">{{ post.source.title }}</a>
                </div>
                <div class="line">
                    {% if  post.source.type.id not in manga_types %}
                    <p>Тип: {{ post.source.type }}</p>
                    <p>Жанры:
                        {% for c in post.source.get_categories %}
                            {% if c == post.source.get_categories|last %}
                                <a href="{{ c.get_absolute_anime_url }}">{{ c.name }}</a>
                            {% else %}
                                <a href="{{ c.get_absolute_anime_url }}">{{ c.name }},</a>
                            {% endif %}
                        {% endfor %}
                    </p>
                    {% else %}
                    <p>Тип: {{ post.source.type }}</p>
                    <p>Жанры:
                        {% for c in post.source.get_categories %}
                            {% if c == post.source.get_categories|last %}
                                <a href="{{ c.get_absolute_manga_url }}">{{ c.name }}</a>
                            {% else %}
                                <a href="{{ c.get_absolute_manga_url }}">{{ c.name }},</a>
                            {% endif %}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        Нет связанных произведений
    {% endif %}
</div>
<div class="authors">
    <div class="info-title bordering">Авторы</div>
    {% if post.get_authors %}
        {% for a in post.get_authors %}
        <div class="mini-card">
            <div class="mini-cover">
                <a href="{{a.get_absolute_url}}"><img class="mini-cover" src="{{ a.photo.url }}"></a>
            </div>
            <div class="mini-info">
                <div class="mini-name">
                    <a href="{{a.get_absolute_url}}">{{ a.name }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        Авторы неизвестны
    {% endif %}
</div>
<div class="characters">
    <div class="info-title bordering"><a href="#">Персонажи</a></div>
    <div class="character-list">
        {% for c in post.get_main_chars %}
            <figure>
                <a href="{{ c.get_absolute_url }}"><img src="{{ c.photo.url }}" class="mini-char-photo"></a>
                <figcaption><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></figcaption>
            </figure>
        {% endfor %}
    </div>
</div>
{% endblock anime %}