{% if len(request.user.anime_list) %}
  <div class="list">
    {% for item in request.user.anime_list %}
      <div class="list-element bordering">
        <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
        <div>{{ item.rate }}</div>
      </div>
    {% endfor %}
  </div>
{% endif %}
{% if len(request.user.manga_list) %}
  <div class="list">
    {% for item in request.user.manga_list %}
      <div class="list-element bordering">
        <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
        <div>{{ item.rate }}</div>
      </div>
    {% endfor %}
  </div>
{% endif %}