{% extends 'main_app/base.html' %}
{% block post %}
    <div class="post-line">
        <h1>{{title}}</h1>
        <h1>Rating:{{post.rate}}</h1>
    </div>
    <div class="post-base-cont">
        {% if post.cover %}
        <img src="{{ post.cover.url }}" width="250px">
        {% endif %}
        <div class="info">
            <p>Type:</p>
            <p>Episodes:</p>
            <p>Duration:</p>
            <p>Status:</p>
            <p>Genres:</p>
        </div>
    </div>  
    <div class="disc-block">
        <h1>Discription</h1>
        <p>{{post.discription}}</p>
    </div>
    
{% endblock %}