{% extends 'main_app/post.html' %}
{% block character %}
{% if post.voice_actor %}
<div class="voice-actors">
    <div class="info-title bordering"><a href="#">Voice actors</a></div>
    <div class="character-list">
        <figure>
            <a href="{{ post.voice_actor.get_absolute_url }}"><img src="{{ post.voice_actor.photo.url }}" class="mini-char-photo"></a>
            <figcaption><a href="{{ post.voice_actor.get_absolute_url }}">{{ post.voice_actor.name }}</a></figcaption>
        </figure>
    </div>
</div>
{% endif %}
{% if post.career %}
<div class="info">
    <div class="info-title bordering">Information</div>
    <p>Career: <span style="color: white;">{{post.career}}</span></p>
</div>
{% endif %}
{% if post.discription %}
<div class="disc-block ">
    <div class="info-title bordering">DISCRIPTION</div>
    <p>{{post.discription|truncatewords:50}}</p>
</div>
{% endif %}
<div class="related">
    <div class="info-title bordering">Projects</div>
    {% for p in post.get_projects %}
    <div class="mini-card">      
        <div class="mini-cover">
            <a href="{{ p.get_absolute_url }}"><img class="mini-cover" src="{{ p.cover.url }}"></a>
        </div>
        <div class="mini-info">
            <div class="mini-name">
                <a href="{{ p.get_absolute_url }}">{{p.title}} / {{p.j_title}}</a>
            </div>
            <div class="line">
                {% if p.type %}
                    <p>Type: {{p.type}}</p>
                    <p>Genres:
                        {% for c in p.get_categories %}
                            {% if c == p.get_categories|last %}
                                <a href="{{ c.get_absolute_anime_url }}">{{c.name}}</a>
                            {% else %}
                                <a href="{{ c.get_absolute_anime_url }}">{{c.name}},</a>
                            {% endif %}
                        {% endfor %}
                    </p>
                {% else %}
                    <p>Type: Manga</p>
                    <p>Genres:
                        {% for c in p.get_categories %}
                            {% if c == p.get_categories|last %}
                                <a href="{{ c.get_absolute_manga_url }}">{{c.name}}</a>
                            {% else %}
                                <a href="{{ c.get_absolute_manga_url }}">{{c.name}},</a>
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                
            </div>
        </div>
    </div> 
    {% endfor %}
</div>
{% endblock character %}