{% load static %}
{% block extrastyles %}
    <link type="text/css" href="{% static 'main_app/css/add_to_list.css' %}" rel="stylesheet">
{% endblock extrastyles %}
{% if request.user.is_authenticated %}
    <div class="add-panel">
        <div class="info-title bordering">Добавить в список</div>
        <form class="add-form" method="get" enctype="multipart/form-data" action="{{ post.get_absolute_url }}">
            {% csrf_token %}
            <input type="number" name="user" value="{{ request.user.id }}" hidden>
            <input type="number" name="anime" value="{{ post.id }}" hidden>
            <select name="status" id="id_status">
                {% if post.list is None %}
                        <option value="" selected disabled hidden>+ Добавить в список</option>
                {% endif %}
                {% for choice in status.choices %}
                    {% if  choice == post.list.status %}
                        <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                    {% else %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </div>
{% endif %}