{% load static %}
{% block extrastyles %}
    <link type="text/css" href="{% static 'main_app/css/add_to_list.css' %}" rel="stylesheet">
{% endblock extrastyles %}
{% if request.user.is_authenticated %}
    <div class="add-panel">
        <div class="info-title bordering">Добавить в список</div>
        {% csrf_token %}
        {% if type == "anime" %}
            <input type="number" name="anime_list_id" value="{{ list.id }}" hidden>
            <input type="number" name="anime" value="{{ post.id }}" hidden>
        {% else %}
            <input type="number" name="manga_list_id" value="{{ list.id }}" hidden>
            <input type="number" name="manga" value="{{ post.id }}" hidden>
        {% endif %}
        <input type="number" name="user" value="{{ request.user.id }}" hidden>

        <select name="status" id="id_status">
            {% if list is None %}
                    <option value="" selected disabled hidden>+ Добавить в список</option>
            {% endif %}
            {% for choice in status.choices %}
                {% if  choice.0 == list.status %}
                    <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                {% else %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
{% endif %}
{% block extrascripts %}
    <script src="{% static 'main_app/js/ajax.js' %}"></script>
{% endblock extrascripts %}