{% if paginator.num_pages > 1 %}
        <div class="paginator-container">
            <nav class="paginator bordering">

                    {% if page_obj.has_previous %}
                    <a class="paginator-element" href="?page=1&rate={{ rate }}&category={{ category }}&type={{ type }}&studios={{ studios }}"><<</a>
                    <a class="paginator-element" href="?page={{ page_obj.previous_page_number }}&rate={{ rate }}&category={{ category }}&type={{ type }}&studios={{ studios }}"><</a>
                    <a class="paginator-element" href="?page={{ page_obj.previous_page_number }}&rate={{ rate }}&category={{ category }}&type={{ type }}&studios={{ studios }}">{{ page_obj.previous_page_number }}</a>
                    {% endif %}
                    <div class="paginator-element selected">{{page_obj.number}}</div>
                    {% if page_obj.has_next %}
                    <a class="paginator-element" href="?page={{ page_obj.next_page_number }}&rate={{ rate }}&category={{ category }}&type={{ type }}&studios={{ studios }}">{{ page_obj.next_page_number }}</a>
                    <a class="paginator-element" href="?page={{ page_obj.next_page_number }}&rate={{ rate }}&category={{ category }}&type={{ type }}&studios={{ studios }}">></a>
                    <a class="paginator-element" href="?page={{ paginator.num_pages }}&rate={{ rate }}&category={{ category }}&type={{ type }}&studios={{ studios }}">>></a>
                    {% endif %}
            </nav>
        </div>
{% endif %}