.list{
 width: 100%;
 color: white;
}
.list-element:hover{
    background: rgba(255, 255, 255, 0.03);
}
.list-element a:hover{
    color: white;
    opacity: .7;
}
.number{
    color: #adb5bd;
    text-shadow: none;
    width: 20px;
}
.name{
    text-decoration: underline;
}
.sm-td{
    width: 90px;
    text-align: center;
}
.list-title{
    color: white;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar{
    height: 100px;
    width: 100px;
    margin: 0;
}
td input{
    display: none;
    width: 60px;
    border: transparent;
    border-radius: 15px;
    text-align: center;
    position: relative;
}
td input.active{
    display: inline;
}
#rate.active{
    display: none;
}