a:hover{
    color: gainsboro;
}
.container{
    padding: 70px 30px;
}
.profile{
    color: white;
    display: flex;
    justify-content: space-between;
}
.profile-content{
    display: flex;
    flex-wrap: wrap;
}
.profile-info{
    margin-left: 10px;
    margin-bottom: 10px;
}
.avatar{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.username{
    font-weight: bold;
    font-size: 25px;
}
.actions{
    display: flex;
    flex-flow: column;
    text-align: right;
    margin-bottom: 10px;
}
.email span{
    color: rgb(107 147 255);
}

.info-title{
    border-right-style: solid;
    border-right-color: #DB7093;
    border-right-width: 10px;
    text-align: center;
}
.profile-chart{
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.profile-chart canvas{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
}
