.paginator-container{
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #944c71;
    width: 100%;
    grid-column: 1/-1;
}
.paginator{
    padding: 2em 0;
    display: flex;
    justify-content: center;
}
.paginator-element{
    padding: 0 2%;
}
.selected{
    text-decoration: underline;
    color: rgb(238, 188, 248);
}