*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
body.lock{
    overflow: hidden;
}
a{
    text-decoration: none;
    color: white;
}

.container{
    background-color: #944c71;
    padding-top: 100px;
    margin: 0 auto;
    min-height: 1080px;
    position: relative;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .container{
        max-width: 1400px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .container{
        max-width: 1100px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .container{
        max-width: 900px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .container{
        width: 767px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .container{
        max-width: 480px;
    }
}

/* Iphone 5 */
@media (max-width: 320px) {
    .container{
        max-width: 320px;
    }
}

/*list*/
.list-img{
    width: 180px;
    height: 250px;
}
.list-items{
    font-size: 18px;
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .list-img{
        width: 200px;
        height: 300px;
    }
    .list-items{
        font-size: 25px;
    }
}
/* Iphone 5 */
@media (max-width: 320px) {
    .list-img{
        width: 250px;
        height: 320px;
    }
}
/*list end*/

.bordering{
    text-shadow: 1px 0 3px #DB7093, 
    0 1px 3px #DB7093, 
    -1px 0 3px #DB7093, 
    0 -1px 3px #DB7093;
}

/*header*/
.header{
    height: fit-content;
    width: 100%;
    padding: 0 10%;
    background: #DB7093;
    position: fixed;
    font-weight: bold;
    top: 0;
    left: 0;
    z-index: 5;
}
.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
}
.search-form{
    display: inline-block;
    position: relative;
}
.search-bar{
    width: 100%;
    border: solid #f09ec8;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 30px;
}
.search-button{
    position: absolute;
    top: 6px;
    right: 10px;
    border: none;
    background-color: unset;
}
.logo-link{
   font-size: 30px;
   color: white;
   margin: 0;
   z-index: 5;
}
.logo-link p{
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
.logo-link:hover{
    color: gainsboro;
 }
.nav-links{
    padding: 28px 0;
    margin: 0;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    position: relative;
    text-decoration: none;
}

.nav-links li a:hover{
    color: gainsboro;
}
.menu-icon{
    display: none;
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .menu-icon{
        z-index: 5;
        display: block;
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 20px;
    }
    .menu-icon span,
    .menu-icon::before,
    .menu-icon::after{
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: white;
    }
    .menu-icon::before,
    .menu-icon::after{
        content: "";
    }
    .menu-icon::before{
        top: 0;
    }
    .menu-icon::after{
        bottom: 0;
    }
    .menu-icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu-icon.active span{
        transform: scale(0) translate(0px, -50%);
    }
    .menu-icon.active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu-icon.active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .nav-links{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        left: -100%;
        background-color: #944c71;
        padding: 130px 10% 30px 10%;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .nav-links.active{
        left: 0px;
    }
    .nav-links::before{
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100px;
        background-color: #DB7093;
        z-index: 2;
    }
    .nav-links li{
        display: block;
        margin: 0;
        padding: 15px;
        font-size: 25px;
    }
    .nav-links li:hover{
        background-color: #863a61;
    }
    .header nav{
        padding-top: 25px;
    }
}
/*header end*/
/*login form*/
.bg-modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    position: absolute;
}
.bg-modal h1{
    color: white;
}
.modal-content{
    box-sizing: border-box;
    padding: 20px;
    height: 370px;
    width: 500px;
    background:rgba(255, 255, 255, 1);
    position: relative;
}
.modal-content img{
    border-radius: 10px;
    width: 100px;
    margin: 0 40%;
}
.modal-content input{
    width: 50%;
    display: block;
    margin: 15px auto;
}
.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.button{
    display: inline-block;
    margin: 15px;
    text-align: center;
    border-radius: 18px;
    padding: 10px 20px;
    background-color: #DB7093;
    text-decoration: none;
    color: white;
    transition: 0.2s;
    border: none;
}
.button:hover{
    background-color: pink;
    color: grey;
}
.sign-up{
    display: block;
    text-align: center;
    font-size: small;
    color: white;
}
.login{
    display: flex;
    padding: 30px;
    justify-content: center;
    min-height: 1080px;
}
.log-bg{
    background-image: url(../images/log_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/*login form end*/
/*register form*/
.bg-modal-register{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.form-floating{
    margin: 15px;
}
.form-errors{
    margin: 10px;
    color: #CC0000;
}
.form-errors ul{
    padding: 0px;
}
.form-errors li{
    display: block;
    text-align: center;
}
/*register form end*/
/*content*/
.content{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3em;
    row-gap: 1em;
    grid-auto-columns: minmax(auto, auto);
    color: white;
}
.content figure{
    padding: 15px;
    text-align: center;
    border: 0px;
}
.content a{
    font-weight: bold;
    font-size: 17px;
}
.content a:hover{
    color: #c4c4c4;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
    .content{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/* Landscape tablets and medium desktops */
@media (max-width: 1199px) {
    .content{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .content{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .content{
        grid-template-columns: 1fr 1fr;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .content{
        grid-template-columns: 1fr;
    }
}
/*content end*/
/*post*/
.post-line{
    color: white;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 7%;
}
.post-line .button{
    border-radius: 10px;
    font-weight: bold;
    padding: 8px 20px;
}
.post-line .button:hover{
    background-color: #DB7093;
}
.post-line a:hover{
    color: pink;
}
.cover{
    width: 250px;
}
.info{
    min-width: 200px;
}
.info a:hover{
    color: #DB7093;
}
.info p{
    color: rgb(201, 200, 200);
}
.contrast-color{
    color: white;
}
.third-plate{
    min-width: 150px;
    text-align: right;
    display: flex;
    flex-flow: column;
}
.studio{
    text-align: center;
}
.info-title{
    text-align: left;
    background-color: pink;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 5px 5px 20px;
    margin-bottom: 15px;
    border-left-style: solid;
    border-left-color: #DB7093;
    border-left-width: 10px;
}
.desc-block .info-title{
    border-right-style: solid;
    border-right-color: #DB7093;
    border-right-width: 10px;
    text-align: center;
}
.mini-name{
    color: white;
}
.mini-info{
    display: flex;
    flex-flow: column;
}
.mini-info a{
    font-weight: bold;
}
.mini-info a:hover{
    color: #DB7093;
}
.mini-card{
    display: flex;
    margin-top: 10px;
}
.mini-cover{
    width: 100px;
    height: 150px;
    margin-right: 20px;
}
.character-list{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.character-list figure{
    text-align: center;
    margin-right: 1em ;
}
.character-list a:hover{
    color: #DB7093;;
}
.mini-char-photo{
    width: 125px;
    height: 175px;
}
.post-base-cont{
    margin: 0 7%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: 3em;
    grid-auto-columns: minmax(auto, auto);
    color: white;
}
.related{
    grid-column: 1/3;
}
.authors{
    grid-column: 3/6;
}
.characters{
    grid-column: 1/6;
}
.voice-actors{
    grid-column: 3/6;
    justify-items: start;
}
.desc-block{
    grid-column: 1/6;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
    .post-base-cont{
        grid-template-columns: 1fr 2fr 2fr 1fr;
    }
    .related{
        grid-column: 1/3;
    }
    .authors{
        grid-column: 3/6;
    }
    .characters{
        grid-column: 1/6;
    }
    .voice-actors{
        grid-column: 3/6;
        justify-items: start;
    }
    .desc-block{
        grid-column: 1/6;
    }
}

/* Landscape tablets and medium desktops */
@media (max-width: 1199px) {
    .post-base-cont{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .post-base-cont{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .related{
        grid-column: 1/5;
    }
    .authors{
        grid-column: 1/5;
    }
    .characters{
        grid-column: 1/5;
    }
    .voice-actors{
        grid-column: 3/5;
        justify-items: start;
    }
    .desc-block{
        grid-column: 1/5;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .post-base-cont{
        grid-template-columns: 1fr 1fr;
    }
    .related{
        grid-column: 1/2;
    }
    .authors{
        grid-column: 2/3;
    }
    .characters{
        grid-column: 1/3;
    }
    .voice-actors{
        grid-column: 2/3;
        justify-items: start;
    }
    .desc-block{
        grid-column: 1/3;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .post-base-cont{
        grid-template-columns: 1fr;
    }
    .related{
        grid-column: 1/1;
    }
    .authors{
        grid-column: 1/1;
    }
    .characters{
        grid-column: 1/1;
    }
    .voice-actors{
        grid-column: 1/1;
        justify-items: start;
    }
    .desc-block{
        grid-column: 1/1;
    }
    .character-list{
        justify-content: center;
    }
    .mini-char-photo{
        width: 180px;
        height: 260px;
    }
    .mini-cover{
        width: 150px;
        height: 200px;
    }
}
/*post end*/
.form-items{
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-weight: bolder;
    color: white;
    padding: 0 20%;
}
.form-items a{
    font-weight: lighter;
}
.form-items a:hover{
    color: rgb(165, 103, 103);
}
/*pagination*/
.paginator-container{
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #944c71;
    max-width: 1400px;
}
.paginator{
    padding: 2em 0;
    display: flex;
    justify-content: center;
}
.paginator-element{
    padding: 0 2%;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
    .paginator-container{
        max-width: 1400px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .paginator-container{
        max-width: 1100px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .paginator-container{
        max-width: 900px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .paginator-container{
        width: 767px;
    }
    .paginator-container{
        max-width: none;
        font-size: 20px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .paginator-container{
        max-width: 480px;
    }
}

/* Iphone 5 */
@media (max-width: 320px) {
    .paginator-container{
        max-width: 320px;
    }
}
.selected{
    text-decoration: underline;
    color: rgb(238, 188, 248);
}
/*pagination end*/
