*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.container{
    margin: 15px 10%;
}

/*header*/
.header{
    height: 100px;
    width: 100%;
    padding: 0 10%;
    background: #DB7093;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-link{
   text-decoration: none;
   font-size: 30px;
   color: white;
   font-weight: bold;
}
.logo-link p{
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo-link:hover{
    color: gainsboro;
 }
.nav-links{
    padding: 28px 0;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: white;
    padding: 5px 0;
    position: relative;
}
.nav-links li a:hover{
    color: gainsboro;
}
.nav-links li a::after{
    content: "";
    background: white;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}
/*header end*/
/*login form*/
.bg-modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    position: absolute;
}
.bg-modal h1{
    color: white;
}
.modal-content{
    box-sizing: border-box;
    padding: 20px;
    height: 370px;
    width: 500px;
    background:rgba(255, 255, 255, 1);
    position: relative;
}
.modal-content img{
    border-radius: 10px;
    width: 100px;
    margin: 0 40%;
}
.modal-content input{
    width: 50%;
    display: block;
    margin: 15px auto;
}
.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.button{
    display: inline-block;
    margin: 15px;
    text-align: center;
    border-radius: 18px;
    padding: 10px 20px;
    background-color: #DB7093;
    text-decoration: none;
    color: white;
    transition: 0.2s;
    border: none;
}
.button:hover{
    background-color: pink;
    color: grey;
}
.sign-up{
    display: block;
    text-align: center;
    font-size: small;
    color: white;
}
.login{
    display: flex;
    padding: 30px;
    justify-content: center;
    align_items: center;
}
.log_bg{
    background-image: url(../images/log_bg.jpg);
}
/*login form end*/
/*register form*/
.bg-modal-register{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.form-floating{
    margin: 15px;
}
.form-errors{
    margin: 10px;
    color: #CC0000;
}
.form-errors ul{
    padding: 0px;
}
.form-errors li{
    display: block;
    text-align: center;
}
/*register form end*/

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.content figure{
    padding: 15px;
    text-align: center;
    border: 0px;
}
.content a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.content a:hover{
    color: #444;
}

/*post*/
.post-line{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.post-base-cont{
    display: flex;
    justify-content:left;
}
.info{
    display: block;
    margin-left: 100px;
}
.disc-block{
    padding: 20px;
}
/*post end*/