{% extends 'main_app/base.html' %}
{% load static %}
{% block content %}
    {% block category_name %}
    {% endblock category_name %}
    {% block studio_name %}
    {% endblock studio_name %}
    <div class="content bordering">
        {% for pi in posts %}
        <a href="{{ pi.get_absolute_url }}">
            <figure>
                {% if pi.cover %}
                <img class="list-items" src={{pi.cover.url}}>
                <figcaption>{{pi.title|truncatechars:20}}</figcaption>
            </figure>
        </a>
        {% endif %}
        {% endfor %}
    </div> 
{% endblock content %}
