{% extends 'main_app/base.html' %}
{% load static %}
{% block content %}
    {% block category_name %}
    {% endblock category_name %}
    {% block studio_name %}
    {% endblock studio_name %}
    <div class="content bordering">
        <form method="get" action="{% url 'home' %}">
          {% for f in form %}
              <div class="form-floating">
                {{f}}
                <label for="{{f.id_for_label}}">{{f.label}}</label>
              </div>
            {% endfor %}
            <button class="button" type="submit">Apply</button>
        </form>
        {% for pi in posts %}
        <a href="{{ pi.get_absolute_url }}">
            <figure class="list-items">
                {% if pi.cover %}
                <div class="list-item">
                    <div class="list-rate">{{ pi.rate }}</div>
                    <img class="list-img" src={{pi.cover.url}}>
                    <figcaption>{{pi.title|truncatechars:20}}</figcaption>
                </div>
            </figure>
        </a>
        {% endif %}
        {% endfor %}
    </div> 
{% endblock content %}
