{% extends 'main_app/base.html' %}
{% load static %}
{% block extrastyles %}
    <link type="text/css" href="{% static 'account/css/list.css' %}" rel="stylesheet">
{% endblock extrastyles %}
{% block list %}
    <div class="list-title bordering">
        <input id="type" hidden disabled value="{{ type }}">
        {% if type == "Anime" %}
            Список аниме пользователя {{ request.user }}
        {% else %}
            Список манги пользователя {{ request.user }}
        {% endif %}
        {% if request.user.avatar %}
            <img class="avatar" src="{{ request.user.avatar.url }}">
        {% else %}
            <img class="avatar" src="{% static 'account/images/placeholder.png' %}">
        {% endif %}
    </div>

    {% if list %}
        {% csrf_token %}
        {% for l in lists %}
            {% if l %}
                {% for choice in choices %}
                    {% if choice.0 == l.0.status %}
                        <div class="info-title bordering" style="margin-top: 20px;">{{ choice.1 }}</div>
                    {% endif %}
                {% endfor %}
              <table class="list">
                  <thead>
                    <tr>
                        <th class="number">#</th>
                        <th class="name">Название</th>
                        <th class="sm-td">Оценка</th>
                        <th class="sm-td">Тип</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in l %}
                      <tr class="list-element">
                          <td class="number">{{ forloop.counter }}</td>
                          {% if type == "Anime" %}
                            <td class="name"><a href="{{ item.anime.get_absolute_url }}">{{ item.anime.title }}</a></td>
                          {% else %}
                            <td class="name"><a href="{{ item.manga.get_absolute_url }}">{{ item.manga.title }}</a></td>
                          {% endif %}
                          <td class="sm-td">
                              <span id="rate" >{{ item.rate }}</span>
                              <input id="list-id" hidden disabled value="{{ item.id }}">
                              <input id="rate-input" type="number" min="0" max="10" value="{{ item.rate }}">
                          </td>
                          {% if type == "Anime" %}
                            <td class="sm-td">{{ item.anime.type }}</td>
                          {% else %}
                            <td class="sm-td">{{ item.manga.type }}</td>
                          {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock list %}
{% block extrascripts %}
<script src="{% static 'account/js/scripts.js' %}"></script>
<script src="{% static 'main_app/js/ajax.js' %}"></script>
{% endblock extrascripts %}
