{% extends 'main_app/base.html' %}
{% load static %}
{% block extrastyles %}
    <link type="text/css" href="{% static 'account/css/profile.css' %}" rel="stylesheet">
{% endblock extrastyles %}
{% block profile %}
    <div class="profile">
        <div class="profile-content">
            {% if user.avatar %}
                <img class="avatar" src="{{ user.avatar.url }}">
            {% else %}
                <img class="avatar" src="{% static 'account/images/placeholder.png' %}">
            {% endif %}
            <div class="profile-info">
                <div class="username">{{ user.username }}</div>
                <div class="email">email: <span>{{ user.email }}</span></div>
            </div>
        </div>
        <div class="actions">
            {% if request.user.id == user.id %}
                <a href="{{ user.get_absolute_url }}edit/">Настройки</a>
                {% if request.user.is_staff %}
                    <a href="../../../../admin">Админ панель</a>
                {% endif %}
                <a href="{% url 'logout' %}">Выход</a>
            {% endif %}
        </div>
    </div>
    <div class="profile-chart">
        {% csrf_token %}
        <input type="number" name="user" value="{{ user.id }}" hidden>
        <div>
            <p class="info-title bordering">СПИСОК АНИМЕ</p>
            <canvas id="profileChartAnime"></canvas>
        </div>
        <div>
            <p class="info-title bordering">СПИСОК МАНГИ</p>
            <canvas id="profileChartManga"></canvas>
        </div>
    </div>
{% endblock profile %}
{% block extrascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'main_app/js/ajax.js' %}"></script>
    <script src="{% static 'account/js/charts.js' %}"></script>
{% endblock extrascripts %}